:root {
    --color-accent: oklch(78.307% 0.01368 17.093);
    /* Define the accent color */
    color-scheme: light dark;
    --border-color: oklch(50% 10% 200 / 40%);
}


html {
    accent-color: var(--color-accent);
    /* Set the default accent color */
}

body {
    /* Set line height to 1.5 times the font size
    and use the OS's UI font as the website font */
    background-color: rgb(196, 192, 192);
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    /* Set the maximum width */
    margin-inline: max(1em, (100% - 100ch) / 2);
    /* Center content horizontally */
}

h1 {
    font-size: 400%;
}

h2 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    text-wrap: balance;
}

blockquote {
    border-left: 0.25em solid var(--border-color);
    margin-left: 0;
    padding-left: 1em;
    color: oklch(100% 0.00011 271.152);
    font-style: italic;
}

circle {
    transition: 200ms;
    transform-origin: center;
    transform-box: fill-box;
}

#chart-tooltip {
    position: absolute;
    background: rgba(153, 151, 151, 0.95);
    opacity: 0.8;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 10px;
    pointer-events: none;
    font-size: 13px;
    line-height: 1.3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: opacity 0.1s ease;
    z-index: 999;
}

/* modify the slider a little bit */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 6px;
    background: white;
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: 2px solid #888;
    cursor: pointer;
}

.legend-box {
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}